{style}
table{
	width:100%!important;
	margin:0 auto!important;
}



{/style}

<div class="clearfix owm_align_center">
        {block_decorator name="box_cap" type='empty' iconClass="ow_ic_monitor" langLabel="supportcenter+my_tickets"}
	{/block_decorator}

	{if empty($items)}
		<tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if} ow_alt1 owm_current_membership owm_membersip_item owm_border">
		<td style="width: 90%;" class="owm_sidemenu_item_wrap owm_bg_color_1"><div class="ow_left ow_txtleft">{text key="supportcenter+no_tickets"}</div></td></tr>
	{/if}

        <table class="owm_tab_info">
	        {foreach from=$items item="item"}
            <tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if} owm_current_membership owm_membersip_item owm_border">
                <td style="width: 100%;" class="owm_sidemenu_item_wrap owm_bg_color_1">
                    
		        		<a href="{$item.url_view}" class="owm_sidemenu_item clearfix"><span class="owm_sidemenu_item_label owm_float_left">{$item.text}</span></a>
                    
                </td>
        </tr>
	        {/foreach}
    </table>

<br>
<div class="owm_current_membership owm_membersip_item owm_border">
<div class="owm_sidemenu_item_wrap owm_bg_color_1">
<a href="{$url_back}" class="owm_sidemenu_item clearfix"><span class="owm_sidemenu_item_label owm_float_left">{text key="supportcenter+back"}</span></a>

	</div>
</div>
</div>

