{$menu}

{style}.ow_column{	width:80%;	margin:0 auto!important;}{/style}
<div class="clearfix">
<div>
{form name="supportcenter_form_purge"}
	<table class="ow_form ow_table_1">
		<tr>
			<td>{label name="manual_purge"}</td>
			<td style="width:37%;">{input name="manual_purge"}</td>
			<td style="font-size:10px;">{text key="supportcenter+manual_purge_desc"}</td>
		</tr>
		<tr colspan="3">
			<td>
				<div class="ow_submit" onclick="return(confirm('{text key="supportcenter+purge_confirm"}'));">{submit name="submit"}</div>
			</td>
		</tr>
	</table>
{/form}
</div><br>
    <div class="ow_column">

        {block_decorator name="box_cap" type='empty' iconClass="ow_ic_monitor" label=$text_label_list}
        {/block_decorator}

        <table class="ow_table_2">

    <tr class="ow_tr_first" colspan="5">
        <th class="ow_txtleft">{text key="supportcenter+ticket"}</th>
		<th>{text key="supportcenter+date"}</th>
		<th>{text key="supportcenter+department_label_info"}</th>
        <th>{text key="supportcenter+status"}</th>
	<th></th>
    </tr>

	        {foreach from=$items item="item"}
            <tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if}" onmouseover="$('span.del-cont', this).show();" onmouseout="$('span.del-cont', this).hide();">

                <td style="width: 60%;"><div class="ow_left ow_txtleft"><a href="{$item.url_view}">{$item.text}</a></div></td><td>{format_date timestamp=$item.updated}</td><td>{$item.department}</td>
		<td>{$item.status}</td>

                <td class="ns-hover-block"><div style="width: 30px;">
			<span class="del-cont" style="display: none;">
                            <a class="ow_lbutton ow_red" href="{$item.url_delete}" onclick="return(confirm('{text key="supportcenter+are_you_sure"}'));">{text key="supportcenter+delete"}</a>
                    </span>
                </div>
            </td>
        </tr>
	        {/foreach}
    </table>


    </div>
</div>

<!--

<strong>Tickets</strong><br><br>

{foreach from=$tickets item="ticket"}
<div>
<a href="{$ticket.url_view}">
{$ticket.subject}
</a>
</div>
{/foreach}

-->
