{$menu}

{form name="supportcenter_form_article"}

<table class="ow_table_1 ow_form ow_stdmargin"><tbody>

<tr class="ow_tr_first ow_alt1">
    <td class="ow_label">{label name="title"}</td>
    <td class="ow_value">{input name="title"}</td>
</tr>
<tr class="ow_tr_first ow_alt2">
    <td class="ow_label">{label name="body"}</td>
    <td class="ow_value">{input name="body"}</td>
</tr>
<tr class="ow_tr_first ow_alt2">
    <td class="ow_label">{label name="cat1"}</td>
    <td class="ow_value">{input name="cat1"}</td>
</tr>
<tr class="ow_tr_first ow_alt2">
    <td class="ow_label">{label name="cat2"}</td>
    <td class="ow_value">{input name="cat2"}</td>
</tr>


<tr>
    <td class="ow_desc ow_small">
	{submit name="submit"}
    </td>
</tr>
</tbody>
</table>
{/form}

<span class="ow_button">
<input type="submit" class="ow_button" onclick="location.href='{$url_cancel}'" value='{text key="supportcenter+cancel"}' />
</span>
